# OpenCV
opencv/
opencv-*/
opencv_*/

# Ultralytics
ultralytics/
ultralytics-*/

# Build files
build/
*.apk
*.aab

# IDE files
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Gradle files
.gradle/
local.properties
